---
import myDB from "../../scripts/db";
let error = Astro.response.statusText;
const status = Astro.response.status || 200;
if (status >= 400 && 499 >= status) {
  console.warn(`Found error! ${error}`);
}
---

<table id="fruit-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Fruit</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
    <tbody>
      {
        myDB.rows.map((row) => {
          const { id, fruit, size } = row;
          return (
            <tr>
              <td class="w-1/12"> {id} </td>
              <td class="w-5/12"> {fruit} </td>
              <td class="w-5/12"> {size} </td>
              <td class="w-1/12 flex gap-1">
                <a
                  href="#delete"
                  role="button"
                  class="outline inline-flex border-red-500 color-red-500 p-2"
                  @click={`openDeleteModal(${JSON.stringify(row)})`}
                >
                  <span class="material-symbols-outlined text-xs">delete</span>
                </a>
                <a
                  href="#edit"
                  @click={`openUpsertModal(${JSON.stringify(row)})`}
                  role="button"
                  class="outline inline-flex p-2"
                >
                  <span class="material-symbols-outlined text-xs">edit</span>
                </a>
              </td>
            </tr>
          );
        })
      }
    </tbody>
  </thead>
</table>
